@font-face {
  font-family: "exo";
  src: url("src/assets/font/EXO-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "lonely";
  src: url("src/assets/font/Lonely.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.body {
  font-family: lonely, sans-serif;
}
